<!DOCTYPE html>
<html lang="en" ng-app='rtcSurveillance'>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name='keywords' content='WebRTC, HTML5, JavaScript' />
		<meta name='description' content='WebRTC Video Conference App' />
		 <base href="/" />
		<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>	
		<!--<script src='/js/home.js'></script>-->
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/assets/libs/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/libs/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

		
		<title>WebRTC Surveillance</title>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/assets/js/adapter.js"></script>
		<script type="text/javascript" src="/assets/js/rtcClient.js"></script>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
		</script>
		<script type="text/javascript" src="/assets/js/angular-source.js"></script>
		<script type="text/javascript" src="/assets/js/app.js"></script>
		<script type="text/javascript" src="/assets/js/ngroute.js"></script>
		
		<script type="text/javascript" src="/assets/libs/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	</head>
	<body style="overflow-x: hidden">  
        <main class="container-fluid" ng-controller='RemoteStreamsController as rtc' style="margin: 0;padding: 0">        
            <header style="margin-bottom: 3px;background-color: #d9edf7;padding: 10px" class="row">
            	     	
            	<div class="col-sm-12 col-md-9 col-lg-9" style="padding: 30px 0 0px 100px">
		    		<strong>Share this link to sites: &nbsp;{{rtc.siteLink('<%= user.control_id %>')}}</strong>			    		    	
		    	</div>
		    	<div  class="col-sm-12 col-md-3 col-lg-3">
		    		<div class="aside-div">
		    				<a href ng-click="rtc.availableStreams()" style="font-size: 24px;margin-right: 50px"><i class="fa fa-video-camera" aria-hidden="true"></i></a>&nbsp;&nbsp;
		    				<a href="/logout"  class="btn btn-primary" style="margin-right: 20px">LOg Out</a>
					    	<ul class="videoStreams" ng-if="rtc.panel === true">
					    		<li style="text-align: left"><i class="fa fa-times" ng-click="rtc.availableStreams()" style="color:#fff;font-size: 18px;padding:5px"></i>
					    		<a href ng-click="rtc.loadData()" style="float:right;color:#fff;padding:5px"><i class="fa fa-refresh" ></i> Refresh</a>	
					    		</li>
								<li ng-repeat="stream in rtc.remoteStreams">
									<label style="color:#fff;padding-right: 20px">{{stream.name}}</label>
			                		<button ng-click="rtc.view(stream)" class="btn btn-success">{{ stream.isPlaying || stream.isPlaying === true ? 'close stream' : 'view stream' }}</button>
								</li>
								<li>							
									<video id="localVideo" muted="muted" autoplay="true" style="width: 100%;height:100%"></video>					
								</li>		
							</ul>
		    		</div>
		    		 
		    	    	    		
		    	</div>
            </header>
            <section class="row">
		    	<div id="remoteVideosContainer" style="width: 80%;margin:0 auto;padding:10px">

				</div>
		    </section>


           
	    	
        </main>  
                           
	</body>
</html>